<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} bind:value="todo.text" placeholder="Write a todo" onKeyUp={onSubmit}
			 onChange={onTextChange} />
			<div class="input-group-append">
				<Flatpickr options="{ flatpickrOptions }" bind:value="todo.datetime" placeholder="select date and time" on:change="options.handelDateTimeChange(...event)"
				/>
			</div>
			<select class="form-control priority" bind:value="todo.priority" on:change="options.onPriorityChange(...event)">
				<option value={0}>{priority[0]}</option>
				<option value={1}>{priority[1]}</option>
				<option value={2}>{priority[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" on:click="addTodo()">
					Add
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	import TodoFormView from "./TodoFormView/TodoFormView.html";
	import constants from "firebase-svelte-tododemo-constants";

	function withDefaultData(Component, data, methods) {
	  return function(opts) {
	    opts.methods || (opts.methods = {});
	    Object.assign(opts.methods, methods);
	    return new Component(opts);
	  };
	}

	export default {
	  components: {
	    TodoFormView: withDefaultData(
	      TodoFormView,
	      {
	        priority: constants.PRIORITY,
	        todo: {
	          text: "",
	          datetime: new Date(),
	          priority: 0
	        },
	        flatpickrOptions: {
	          enableTime: true,
	          defaultDate: new Date(),
	          time_24hr: true,
	          minDate: new Date(),
	          onChange(selectedDates, dateStr, instance) {
	            console.log("Options onChange handler");
	          }
	        },
	        addTodo(todo) {
	          console.log("yay");
	          this.store.addTodo(todo);
	        }
	      },
	      {
	        addTodo(todo) {
	          console.log("yay");
	          this.store.addTodo(todo);
	        }
	      }
	    )
	  }
	};
</script>