<div class={`Todo`}>
	<h4>
		{text}
		<button class="float-right btn btn-success btn-sm" on:click="onComplete()">
			Complete
		</button>
	</h4>
	<p>
		{#each badges as badge, i}
		<span class={`badge badge-${badge.color}`}>
			{badge.text}
		</span>
		{/each}
	</p>
</div>
<script>
  import Store from "../store";
  import { toggleTodo } from "../firebase";
  import { badges } from "../selectors";

  export default {
    data: () => ({
      badges: []
    }),
    onstate() {
      this.set({ badges: badges(this.get()) });
    },
    store: () => Store,
    methods: {
      onComplete() {
        toggleTodo(this.get().id);
      }
    }
  };
</script>
<style>
  .btn-success {
    margin-left: 10px;
  }
  .badge {
    margin-right: 6px;
  }
</style>