<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} bind:value="text" placeholder="Write a todo" on:keydown="onSubmit(event)"
			/>
			<div class="input-group-append">
				<Flatpickr options="{ flatpickrOptions }" bind:value="datetime" placeholder="select date and time" />
			</div>
			<select class="form-control priority" bind:value="priority">
				<option value={0}>{priorityLabels[0]}</option>
				<option value={1}>{priorityLabels[1]}</option>
				<option value={2}>{priorityLabels[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" on:click="addTodo()">
					Add
				</button>
			</div>
		</div>
	</div>
</div>
<script>
			import constants from "firebase-svelte-tododemo-constants";
			import Flatpickr from "svelte-flatpickr";
			import { addMinutes } from "date-fns";
			import { addTodo } from "../firebase";
			export default {
			  data: () => {
			    const defaultDate = addMinutes(new Date(), 1);
			    return {
			      priorityLabels: constants.PRIORITY,
			      text: "",
			      datetime: defaultDate,
			      priority: 0,
			      flatpickrOptions: {
			        enableTime: true,
			        defaultDate: defaultDate,
			        time_24hr: true,
			        minDate: defaultDate,
			        onChange(selectedDates, dateStr, instance) {
			          console.log("Options onChange handler");
			        }
			      }
			    };
			  },
			  components: {
			    Flatpickr
			  },
			  methods: {
			    onSubmit() {
			      if (event.keyCode === 13) this.addTodo();
			    },
			    addTodo() {
						const { text, datetime, priority } = this.get();
						if(text === "") return;
			      const newTodo = { text, datetime, priority };
			      addTodo(newTodo);
			      this.set({ text: "" });
			    }
			  }
			};
</script>
<style>
</style>