<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<br /> {#if !todos.length}
				<h1>All done</h1>
				{:else}
				<div class="row">
					<div class="col-md-8">
						<h5>Todo List</h5>
					</div>
					<div class="col-md-4 text-right">
						<h5>{todos.length} todos left</h5>
					</div>
				</div>
				{/if}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group">
					{#each todos as todo, i}
					<li class="list-group-item">
						<Todo {...todo} time={time} />
					</li>
					{/each}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
  import Store from "../store";
  import Todo from "./Todo.html";
  import { selectTodos } from "../selectors";

  export default {
    oncreate() {
      this.store.on("state", ({ current, previous }) => {
        if (current.user !== previous.user) {
        }
        this.set({
          todos: selectTodos(current)
        });
      });

      this.interval = setInterval(() => {
        this.set({ time: new Date() });
      }, 10000);
    },
    ondestroy() {
      clearInterval(this.interval);
    },
    data: () => ({
      todos: [],
      time: new Date()
    }),
    store: () => Store,
    components: {
      Todo
    }
  };
</script>
