<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} bind:value="todo.text" placeholder="Write a todo" onKeyUp={onSubmit}
			 onChange={onTextChange} />
			<div class="input-group-append">
				<Flatpickr options="{ flatpickrOptions }" bind:value="todo.datetime" placeholder="select date and time" on:change="options.handelDateTimeChange(...event)"
				/>
			</div>
			<select class="form-control priority" bind:value="todo.priority" on:change="options.onPriorityChange(...event)">
				<option value={0}>{priority[0]}</option>
				<option value={1}>{priority[1]}</option>
				<option value={2}>{priority[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" on:click="console.log(options)">
					Add
				</button>
			</div>
		</div>
	</div>
</div>
<script>
					import Flatpickr from "svelte-flatpickr";
					export default {
					  components: {
					    Flatpickr
					  },
					  methods: {
					    addTodo(todo) {
					      console.log("yay");
					      this.store.addTodo(todo);
					    }
					  }
					};
</script>
<style>
	.datepicker-container {
	  position: relative;
	}
	:global(.datepicker-container.collapsed .wrapper) {
	  display: none;
	}
	:global(.wrapper) {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background: white;
	}
</style>