<div class={`Todo ${isSpeaking ? 'speaking' : ''}`}>
	<h4>
		<i class="material-icons" style={{ position: 'absolute', bottom: 10, right: 20, color: '#99979c' }}>event</i>
		{text}
		<button class="float-right btn btn-success btn-sm" style={{ marginLeft: 10 }} onClick={onCompleteTodo}>
			Complete
		</button>
	</h4>
	<p>
		{#each badges as badge, i}
		<span class={`badge badge-${color}`}>
			{badge.text}
		</span>
		{/each}
	</p>
</div>
<script>
</script>
<style>
     .btn-success {
       margin-left: 10px;
     }
     .badge {
       margin-right: 6px;
     }
</style>