<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} value={todo.text} placeholder="Write a todo" onKeyUp={onSubmit}
			 onChange={onTextChange} />
			<div class="form-control">
				<Flatpickr options="{ flatpickrOptions }" bind:value="datetime" placeholder="optional placeholder" on:change="handleChange(...event)"
				/>
			</div>
			<input type="time" class="form-control" />
			<select class="form-control priority" value={todo.priority || 0} onChange={onPriorityChange}>
				<option value={0}>{priority[0]}</option>
				<option value={1}>{priority[1]}</option>
				<option value={2}>{priority[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" onClick={onAdd}>
					Add
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	import { format, addYears } from "date-fns";

	import Flatpickr from "svelte-flatpickr";

	import "flatpickr/dist/flatpickr.css";
	import "flatpickr/dist/themes/light.css";
	export default {
	  oncreate: () => {},
	  computed: {
			datetime: ({todo})=>todo.datetime,
	    flatpickrOptions: ({ todo }) => ({
	      enableTime: true,
	      defaultDate: todo.datetime,
	      time_24hr: true,
	      minDate: todo.datetime,
	      onChange(selectedDates, dateStr, instance) {
	        console.log("Options onChange handler");
	      }
	    })
	  },

	  methods: {
	    handleChange(selectedDates, dateStr, instance) {
	      console.log("Svelte onChange handler");
	    }
	  },

	  components: {
	    Flatpickr
	  }
	};
</script>
<style>
	.datepicker-container {
	  position: relative;
	}
	:global(.datepicker-container.collapsed .wrapper) {
	  display: none;
	}
	:global(.wrapper) {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background: white;
	}
</style>