<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<br /> {#if !todos.length}
				<h1>All done</h1>
				{:else}
				<div class="row">
					<div class="col-md-8">
						<h5>Todo List</h5>
					</div>
					<div class="col-md-4 text-right">
						<h5>{todos.length} todos left</h5>
					</div>
				</div>
				{/if}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group">
					{#each todos as todo, i}
					<li class="list-group-item">
						{todo.text}
					</li>
					{/each}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
  import Store from "../store";
  import constants from "firebase-svelte-tododemo-constants";
  import {
    format,
    differenceInMinutes,
    isAfter,
    distanceInWordsToNow
  } from "date-fns";

  const priorityDesc = (ta, tb) => tb.priority - ta.priority;
  const isPending = t => !t.hasOwnProperty("completed") || !t.completed;
  const isPast = t => isAfter(new Date(), t.datetime);
 
  const isTodo = t =>
    t !== null &&
    t.hasOwnProperty("id") &&
    t.hasOwnProperty("text") &&
    t.hasOwnProperty("datetime") &&
    t.hasOwnProperty("priority");
  const shouldNotify = t => {
    const dfrc = differenceInMinutes(t.datetime, new Date());
    return dfrc < 5 && dfrc > 0;
  };
  const selectPrioritycolor = t => constants.PRIORITY_COLOR[t.priority];
  const selectPrioritytext = t => constants.PRIORITY[t.priority];
  const selectTodoDatetimecolor = t =>
    constants.DATETIME_COLOR[selectTodoDatetimecolorIndex(t)];
  const selectTodoDatetimecolorIndex = t =>
    isPast(t) ? 0 : shouldNotify(t) ? 1 : 2;
  const selectTodoDateHumanReadable = t =>
    distanceInWordsToNow(t.datetime, { includeSeconds: true, addSuffix: true });
  const createTodoTimeFields = t => ({
    ...t,
    prioritycolor: selectPrioritycolor(t),
    prioritytext: selectPrioritytext(t),
    datetimecolor: selectTodoDatetimecolor(t),
    datetimetext: selectTodoDateHumanReadable(t)
  });
  function selectTodos({todos}, uid = undefined) {
    const _todos =
      uid && todos.hasOwnProperty(uid) && todos[uid] ? todos[uid] : todos;
    return Object.values(_todos)
      .map(tap)
      .filter(isTodo)
      .filter(isPending)
      .sort(priorityDesc)
      .map(createTodoTimeFields);
  }
  export default {
    oncreate() {
      this.store.on("state", ({ current }) => {
        console.log(selectTodos(current));
        this.set({
          todos: selectTodos(current)
        });
      });
    },
    data: () => ({
      todos: []
    }),
    store: () => Store
  };
</script>
