<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<br /> {#if !todos.length}
				<h1>All done</h1>
				{:else}
				<div class="row">
					<div class="col-md-8">
						<h5>Todo List</h5>
					</div>
					<div class="col-md-4 text-right">
						<h5>{todos.length} todos left</h5>
					</div>
				</div>
				{/if}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group">
					{#each todos as todo, i}
					<li class="list-group-item">
						<Todo {...todo} time="time" />
					</li>
					{/each}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
  import Store from "../store";
  import Todo from "./Todo.html";
  import constants from "firebase-svelte-tododemo-constants";

  const priorityDesc = (ta, tb) => tb.priority - ta.priority;
  const isPending = t => !t.hasOwnProperty("completed") || !t.completed;
  const warn = fn => t => {
    if (!fn(t)) console.warn(t);
    return fn(t);
  };
  const isTodo = t =>
    t !== null &&
    t.hasOwnProperty("id") &&
    t.hasOwnProperty("text") &&
    t.hasOwnProperty("datetime") &&
    t.hasOwnProperty("priority");

  function selectTodos({ todos }, uid = undefined) {
    const _todos =
      uid && todos.hasOwnProperty(uid) && todos[uid] ? todos[uid] : todos;
    return Object.values(_todos)
      .filter(warn(isTodo))
      .filter(isPending)
      .sort(priorityDesc);
  }
  export default {
    oncreate() {
      this.store.on("state", ({ current }) => {
        console.log(selectTodos(current));
        this.set({
          todos: selectTodos(current)
        });
      });

      this.interval = setInterval(() => {
        console.log("update");
        this.set({ time: new Date() });
      }, 1000);
    },
    ondestroy() {
      // this fires when the component is
      // removed from the DOM
      console.log("in ondestroy");
      clearInterval(this.interval);
    },
    data: () => ({
      todos: [],
      time: new Date()
    }),
    store: () => Store,
    components: {
      Todo
    }
  };
</script>
