<div class={`Todo`}>
	<h4>
		{text}
		<button class="float-right btn btn-success btn-sm" on:click="onComplete()">
			Complete
		</button>
	</h4>
	<p>
		{#each badges as badge, i}
		<span class={`badge badge-${badge.color}`}>
			{badge.text}
		</span>
		{/each}
	</p>
</div>
<script>
  import Store from "../store";
  import constants from "firebase-svelte-tododemo-constants";
  import { differenceInMinutes, isAfter, distanceInWordsToNow } from "date-fns";

  const shouldNotify = t => {
    const dfrc = differenceInMinutes(t.datetime, new Date());
    return dfrc < 5 && dfrc > 0;
  };
  const isPast = t => isAfter(new Date(), t.datetime);
  const prioritycolor = t => constants.PRIORITY_COLOR[t.priority];
  const prioritytext = t => constants.PRIORITY[t.priority];
  const datetimecolor = t => constants.DATETIME_COLOR[datetimecolorIndex(t)];
  const datetimecolorIndex = t => (isPast(t) ? 0 : shouldNotify(t) ? 1 : 2);
  const dateHumanReadable = t =>
    distanceInWordsToNow(t.datetime, { includeSeconds: true, addSuffix: true });

  const badges = todo => [
    {
      text: dateHumanReadable(todo),
      color: datetimecolor(todo)
    },
    {
      text: prioritytext(todo),
      color: prioritycolor(todo)
    }
  ];

  export default {
    computed: ()=>({
        badges:badges()
    }),
    onupdate() {
      this.set({badges:badges(this.get())})
    },
    methods: {
      onComplete() {
        Store.toggleTodo(this.get().id);
      }
    }
  };
</script>
<style>
  .btn-success {
    margin-left: 10px;
  }
  .badge {
    margin-right: 6px;
  }
</style>