<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} value={todo.text} placeholder="Write a todo" onKeyUp={onSubmit}
			 onChange={onTextChange} />
			<input type="datetime-local" class="form-control" value={todo.datetime} min={todo.datetime} max={maxDatetime}>
			<select class="form-control priority" value={todo.priority || 0} onChange={onPriorityChange}>
				<option value={0}>{priority[0]}</option>
				<option value={1}>{priority[1]}</option>
				<option value={2}>{priority[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" onClick={onAdd}>
					Add
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	import Nanocal from "nanocal";
	import {addYears} from "date-fns"
	export default {
	  computed: {
		  maxDatetime: ({todo})=>addYears(todo.datetime, 10)
	  },
	  components: {
	    Nanocal
	  }
	};
</script>
<style>
	.datepicker-container {
	  position: relative;
	}
	:global(.datepicker-container.collapsed .wrapper) {
	  display: none;
	}
	:global(.wrapper) {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background: white;
	}
</style>