<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} value={todo.text} placeholder="Write a todo"
			 onKeyUp={onSubmit} onChange={onTextChange} />

			<select class="form-control priority" value={todo.priority || 0} onChange={onPriorityChange}>
				<option value={0}>{PRIORITY[0]}</option>
				<option value={1}>{PRIORITY[1]}</option>
				<option value={2}>{PRIORITY[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" onClick={onAdd}>
					Add
				</button>
			</div>
		</div>
	</div>
</div>

<style>
</style>