<div class="row">
	<div class="col-md-12">
		<br />
		<div class="input-group">
			<input class="form-control text" type="text" required={true} value={todo.text} placeholder="Write a todo" onKeyUp={onSubmit}
			 onChange={onTextChange} />
			<input type="text" class="form-control" id="datepicker" value={datetimeStr} min={datetimeStr} max={maxDatetimeStr} />
			<input type="time" class="form-control"  />
			<select class="form-control priority" value={todo.priority || 0} onChange={onPriorityChange}>
				<option value={0}>{priority[0]}</option>
				<option value={1}>{priority[1]}</option>
				<option value={2}>{priority[2]}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-primary" onClick={onAdd}>
					Add
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	import Pikaday from "pikaday";
	import { format, addYears } from "date-fns";

	export default {
	  oncreate: () => {
	    var picker = new Pikaday({
	      field: document.getElementById("datepicker"),
	      onSelect: function() {
	        console.log(this.getMoment().format("Do MMMM YYYY"));
	      }
	    });
	  },
	  computed: {
	    datetimeStr: ({ todo }) => format(todo.datetime, "YYYY-MM-DDTHH:mm"),
	    maxDatetimeStr: ({ todo }) =>
	      format(addYears(todo.datetime, 10), "YYYY-MM-DDTHH:mm")
	  },
	  components: {
	  }
	};
</script>
<style>
	.datepicker-container {
	  position: relative;
	}
	:global(.datepicker-container.collapsed .wrapper) {
	  display: none;
	}
	:global(.wrapper) {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background: white;
	}
</style>